<!DOCTYPE html>
  <html lang="en">
  <head>
    <% include ../partials/head %>   
  </head>
    
  <body>
      <nav class="pickGoalsNav" role="navigation">
          <header role="banner">
          <h1>Visio</h1> 
          </header>    
          </nav>

 <main>

    <div class="dbDisplay-edit js-edit1">

    <form class="editPage-notes" role="form" method="post" action="/posts/<%=goalPost._id%>">
        <legend>Edit your goal by typing in the field below!</legend>
        <label class="category" name="category" for=""></label>
          <select id="" type="text" title="category" name="category" class="my-Editcategory"  placeholder="Enter Category" required>
            <option value="" selected></option>
            <option value="Career" <%= (goalPost.category=="Career") ? "selected":""%>>Career</option>
            <option value="Financial" <%= (goalPost.category=="Financial") ? "selected":""%>>Financial</option>
            <option value="Physical" <%= (goalPost.category=="Physical") ? "selected":""%>>Physical</option>
            <option value="Personal-development" <%= (goalPost.category=="Personal-development") ? "selected":""%>>Personal-development</option>
            <option value="Spiritual" <%= (goalPost.category=="Spiritual") ? "selected":""%>>Spiritual</option>
            <option value="Experiential" <%= (goalPost.category=="Experiential") ? "selected":""%>>Experiential</option>
          </select>
                 
        <label for="notes">
        <input id="notes" name="comments" title="notes" value="<%=goalPost.comments%>" type="text" class="my-notes" placeholder="Enter Notes" required>

        </label>
          
    <input type="submit" class="submitEditPost">
            
    </form>
            </div> 
          
</main>

</body>
</html>